.swiper-slide {
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 4px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.mySwiper {
  margin-top: 80px;
  width: 22rem;
  height: auto;
  aspect-ratio: 3 / 4;
  @media (min-width: 40rem) {
    width: 30rem;
  }
}

.mySwiper .swiper-slide {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-primary);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#portfolio-card-1 {
  background-image: url('/images/homepage/portfolio-site_screenshot_3x4.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#portfolio-card-2 {
  background-image: url('/images/homepage/vali_screenshot_3x4.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#portfolio-card-3 {
  background-image: url('/images/homepage/smokify_screenshot_3x4.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide:nth-child(1n) {
  background-color: var(--color-background);
}

.swiper-slide:nth-child(2n) {
  background-color: var(--color-background);
}

.swiper-slide:nth-child(3n) {
  background-color: var(--color-background);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
